* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


*:focus {
  outline: none !important;
  box-shadow: none !important;
}

* {
  -webkit-tap-highlight-color: transparent;
}


html {
  font-size: 10px;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

html, body {
  overflow-x: hidden;
}

.tab-content {
  display: flexbox;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  min-height: 200vh;
  position: relative;
  justify-content: center;
  text-align: center;
  }


#wrapper {
background: transparent;
width: 100%;
height: 100vh;
margin:0;
flex: 1;
flex-direction: column;
display: flex;
position: relative;
text-align: center;
}




/*Przełączanie między kartami*/

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}



.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

.tab {
  cursor: pointer;
  padding: 10px;
}

.tab:hover {
  border-bottom: 3px solid;
  transition: 0.1s ease-in-out;
  border-radius: 0px;
}

.tab.active {
  border-bottom: 3px solid;
  
  color: black;
  border-radius: 4px;
  border-radius: 0px;
}

/*Koniec*/



.tryb {
  display: none; /* Pokazujemy ikonę */
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-top: 5px;
  margin-bottom: 5px;
  background: transparent;
  border: none;
}


.line {
  width: 55px;
  height: 8px;
  background: linear-gradient(40deg, rgb(0, 0, 0), rgb(43, 42, 42));
  margin: .6em;
  border-radius: 0px;
  transition: .3s ease-in-out;
  border: solid 0.001px;
}

.tryb.active .line:nth-child(1) {
  transform: translateY(16px) rotate(45deg);
}

.tryb.active .line:nth-child(2) {
  opacity: 0; /* Ukrywamy środkową linię */
}

.tryb.active .line:nth-child(3) {
  transform: translateY(-16px) rotate(-45deg);
}



.menu {
  
  justify-content: right;
  width: 100%;
  position:fixed;
  top:0;
  left:0;
  padding: 0;
  display:flex;
  flex-direction: row;
  z-index: 1001;
  background: transparent;
  transition: 0.3s ease-in-out;
}

.menu.white {
  background: white;
}

.menu {
  transition: background-color 0.3s ease-in-out;
}



.dropdown {
border: none;
cursor: pointer;
position: relative;
display: inline-block;
z-index: 1000;
}



.rozwijane-menu {
  
  filter: drop-shadow(5px 7px 12px rgba(0, 0, 0, 0.4));
  list-style-type: none;
  top: -10px;
  right: 0;
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  transform: translateY(20%);
  opacity: 1;
  z-index: 1001;
}




.dropdown ul.active {
  opacity: 1;
  transform: translateX(0);
}


.dropdown ul li {
padding: 25px;
padding-bottom: 2vh;
font-size: 1vw;
padding-top: 15px;
width: auto;
color: rgb(112, 112, 112);



  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 557;
  font-style: normal;


}


.dropdown ul li a{
    padding: 25px;
    padding-bottom: 2vh;
    font-size: 25px;
    padding-top: 15px;
    width: auto;
    color: rgb(112, 112, 112);
    text-decoration: none;
    
    
      font-family: "Newsreader", serif;
      font-optical-sizing: auto;
      font-weight: 557;
      font-style: normal;
    
    
    }
    



@media (max-width: 1100px) {
    

  .menu1 {
    opacity: 1;
    z-index: 1001;
    justify-content: left;
  }

  .tryb {
    right: 25px!important;
    display: block;
    z-index: 1001;

  
  }
  .rozwijane-menu {
    
    flex-direction: column; /* Aby elementy były jeden pod drugim */
    position: absolute;
    right: 0;
    top: -10px;
    bottom: 0;
    
    box-shadow:
      0px 15px 30px rgba(0, 0, 0, 0.4),
      px 20px 50px rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    max-height: 0;
    opacity: 0;
    transform: translateX(-250%);
    transform-origin: right center;
    transition: 0.3s ease-in-out;
    display: flex;
    justify-content: top;
    z-index: 1000;
  }

  .dropdown ul.active {
    max-height: 100vh;
    opacity: 95%;
    position: absolute;
    flex-direction: column;
    transition: 0.3s ;
    z-index: 1000!important;
}


  .dropdown ul li {
    font-size: 5vw;
    opacity: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .dropdown ul li a{
    font-size: 5vw;
    opacity: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}



/*Strona główna*/


.head {
  display: flex;
  justify-content: center;
  position: relative;
  height: auto;
  
}

.headimg {
  display: block;
  transform: scale(100%);
  position: relative;
  height: auto;
  width: 100%;
  margin-top: -10%;
  z-index: 100;
  filter: blur(1px);
  opacity: 0.7;
}

.headt {
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  top: 40%;
  z-index: 101;
  text-align: center;
  
}

.headtt {
  color: rgb(0, 0, 0);
  font-size: 4vw;

  width: 100%;
  letter-spacing: 0.08em;

  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.headttt {
  color: rgb(0, 0, 0);
  font-size: 3vw;
  margin-top: 2%;

  width: 100%;
  letter-spacing: 0.10em;
  margin-top: 10%;

  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}


@media (max-width: 1100px) {
  .headimg {
    transform: scale(400%);
    margin-top: 20%;
  }
}


.parallax1 {
  width: 50%;
  height: 100vh;
  background-image: url('par1.jpg'); 
  background-size: 75%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 150% 100%;
  position: relative;
  float: right;
  z-index: 1;
}

.sekcja1 {
  width: 50%;
  height: 100vh;
  background: white;
  position: relative;
  z-index: 2;
  float: left;
}

.bio {
  font-size: 4vw;
  letter-spacing: 0.08em;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  opacity: 0;
  margin-top: 10%;
  transition: 0.7s ease-in-out;
}

.bio.visible {
  opacity: 1;
}

.galeria {
  height: 100vh;
  width: 100%;
  position: relative;
  display: inline-block;
}

.galeria1 {
  width: 20vw;
  height: auto;
}

.z1 {
  width: 20vw;
}

.galeria2 {
  width: 25%;
  height: auto;
}